<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <!-- container per app -->
        <div class="container p-3">
            <div class="row justify-content-center">
                <!-- titolo -->
                <h1 class="text-center m-5"> ToDo List</h1>
                <div class="col-8">
                    <!-- input per nuovo task -->
                    <div class="input-group mb-5">
                        <!-- Aggiunta del v-model per la gestione dell'input -->
                        <input  @keyup.enter="addTask" v-model="newTask" type="text" class="form-control newTask" placeholder="Nuovo ToDo" aria-label="Nuovo da fare" aria-describedby="button-addon2">
                        <!-- Bottone per aggiungere un nuovo task -->
                        <button @click="addTask" class="btn btn-outline-secondary" type="button" id="submitNewTask">Invia</button>
                    </div>
                      <!-- lista per visualizzare i task -->
                    <!--aggiunto v-if per mostrare un alert se la lista è vuota-->
                      <ul class="list-group" v-if="tasks.length > 0" >
                        <!-- Utilizzo di v-for per iterare sugli elementi dell'array "tasks" -->
                        <li class="list-group-item d-flex justify-content-between" 
                        v-for="(task, index) in tasks" :key="index">
                        <!-- Utilizzo di :class per condizionare la classe "completed" in base a "done"; aggiunta chiamata della funzione taskDone allo span con task.text -->
                            <span @click="taskDone(index)" :class="{ 'completed' : task.done}">{{task.text }} </span>
                            <div>
                                  <!-- Bottone per contrassegnare il task come completato -->
                                <button @click="taskDone(index)" class="btn btn-outline-secondary justify-content-end" type="button" id="taskDone{{index}}">&#x2705;</button>
                                <!--  bottone per rimozione -->
                                <button @click="removeTask(index)" class="btn btn-outline-secondary justify-content-end" type="button" id="removeTask{{index}}">&#x274C;</button>  
                            </div>
                            
                    

                        </li>
                        
                    </ul>
                    <div class="alert alert-success " v-else>
                        Nessun elemento nella lista dei toDO!
                    </div>


                </div>
            </div>
        </div>
    </div>
    <script src="
https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js
"></script>

    <script src="js/script.js"></script>
</body>
</html>


