<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <!-- container per app -->
        <div class="container p-3">
            <div class="row justify-content-center">
                <!-- titolo -->
                <h1 class="text-center m-5"> ToDo List</h1>
                <div class="col-8">
                    <!-- input per nuovo task -->
                    <div class="input-group mb-5">
                        <!-- aggiungo v-model per input -->
                        <input v-model="newTask" type="text" class="form-control newTask" placeholder="Nuovo ToDo" aria-label="Nuovo da fare" aria-describedby="button-addon2">
                        <button @click="addTask" class="btn btn-outline-secondary" type="button" id="submitNewTask">Invia</button>
                      </div>
                      <!-- lista per stampare task -->

                      <ul class="list-group">
                        <!-- v-for per scorrere items dentro array -->
                        <li class="list-group-item d-flex justify-content-between" 
                        v-for="(task, index) in tasks" :key="index">
                            <span>{{task}} </span>
                            <!-- aggiungo bottone per rimozione -->
                            <button class="btn btn-outline-secondary justify-content-end" type="button" id="removeTask">&#x274C;</button>
                      </div>

                        </li>
                        
                      </ul>


                </div>
            </div>
        </div>
    </div>
    
    <script src="js/script.js"></script>
</body>
</html>